@import "tailwindcss";

.hero-swiper .swiper-pagination {
  bottom: 25px;
}

.hero-swiper .swiper-pagination-bullet {
  width: 28px;
  height: 4px;
  border-radius: 999px;
  background: white;
  opacity: 0.5;
}

.hero-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  font-family: "Vazirmatn", sans-serif;
}